<h1><%= game['name']%> </h1>

<img src="<%= game["image_url"] %>" alt="">

<section class="op_thoughts">
<p><%= game["description"]%></p>
</section>


<form action="/games/<%= game["id"] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
</form>

<a href="/games/<%= game["id"]%>/edit">edit</a>